/*
    catalog style
 */

.catalog {
  background: $blue-gradient;
  padding: 55px 0 85px;

  @include mq(md) {
    padding: 46px 0 59px;
  }

  .container {
    position: relative;

    &:after {
      content: "";
      display: block;
      width: 566px;
      height: 621px;
      background: url("../img/catalog/leaves.png") no-repeat center/cover;
      position: absolute;
      top: -74px;
      right: -220.98px;
      opacity: 0.3;

      @include mq(md) {
        display: none;
      }
    }
  }

  &__content {
    position: relative;

    section {
      box-sizing: border-box;
      padding: 39px 28px 38px;
      background: url("../img/catalog/bg.png") no-repeat center/cover, $white;
      border-radius: 10px;
      position: relative;
      z-index: 9;
      margin: 33px auto 20px;

      @include mq(lg) {
        background: $white;
      }

      @include mq(md) {
        margin: 30px auto 28px;
        padding: 27px 25px;
      }

      @include mq(s) {
        padding: 27px 25px 480px;
      }

      @include mq(xs) {
        padding: 27px 15px 480px;
      }

      span.button {
        color: $dark-dark-blue;

        @include mq(s) {
          display: block;
          text-align: center;
        }
      }

      ul {

        &.desctop {
          width: 768px;
          margin: 18px 0 13px;

          @include mq(md) {
            width: 85%;
            margin: 19px 0;
          }

          @include mq(s) {
            width: 100%;
            margin: 19px auto;
          }

          @include mq(xs) {
            display: none;
          }

          li {
            display: flex;

            span {
              display: block;

              &:nth-child(1) {
                font-family: $sb, sans-serif;
                font-size: 18px;
                line-height: 30px;
                color: $dark-blue;
                width: 224px;
              }

              &:nth-child(2) {
                font-family: $r, sans-serif;
                font-size: 18px;
                line-height: 30px;
                color: $grey;
                width: 562px;

                @include mq(md) {
                  width: calc(100% - 224px);
                }
              }
            }
          }
        }

        &.mobile {
          display: none;

          @include mq(xs) {
            display: block;
            margin: 19px auto;
          }

          li {

            p {
              font-family: $r, sans-serif;
              font-size: 18px;
              line-height: 30px;
              color: $grey;

              span {
                font-family: $sb, sans-serif;
                font-size: 18px;
                line-height: 30px;
                color: $dark-blue;
                width: 224px;
                display: inline-block;

                @include mq(xs) {
                  width: auto;
                  margin-right: 5px;
                }
              }
            }
          }
        }
      }

      .color {
        display: flex;

        @include mq(xs) {
          display: block;
        }

        p {
          font-family: $sb, sans-serif;
          font-size: 18px;
          color: $dark-blue;
          width: 224px;
        }

        figure {
          display: flex;

          @include mq(xs) {
            margin-top: 15px;
          }

          span {
            font-family: $r, sans-serif;
            font-size: 18px;
            line-height: 22px;
            color: $grey;
            display: block;
            padding-left: 27px;
            position: relative;
            cursor: pointer;
            transition: all 0.5s ease-in-out;

            &:before {
              content: "";
              display: block;
              width: 18px;
              height: 18px;

              border-radius: 50%;
              position: absolute;
              top: 50%;
              left: 0;
              transform: translateY(-50%);
            }

            &.blue {

              &:before {
                background: #a3d7e5;
              }
            }

            &.pink {
              margin-left: 29px;

              &:before {
                background: #ffb0cd;
              }
            }

            &.active {
              font-family: $sb, sans-serif;
              text-decoration: underline;
            }
          }
        }
      }

      .price {
        position: absolute;
        top: 39px;
        left: 601px;

        @include mq(md) {
          top: 9px;
          left: 401px;
        }

        @include mq(s) {
          position: static;
          text-align: center;
          margin: 39px auto 0;
        }
      }

      .catalog__content-img {
        position: absolute;
        top: -84px;
        right: 218px;

        @include mq(xl) {
          right: 165px;
        }

        @include mq(lg) {
          right: -25px;
        }

        @include mq(s) {
          top: calc(100% - 514px);
          left: 50%;
          transform: translateX(-50%);
        }

        img {
          transition: all 0.5s ease-in-out;
        }
      }

      &:after {
        content: "";
        display: block;
        width: 40px;
        height: 40px;
        background: $bright-blue;
        box-shadow: $shadow1;
        border-radius: 5px;
        transform: rotate(15.18deg);
        position: absolute;
        top: 4px;
        left: -30px;

        @include mq(md) {
          display: none;
        }
      }
    }

    form {
      display: flex;
      align-items: center;
      position: relative;
      z-index: 20;

      @include mq(lg) {
        flex-wrap: wrap;
      }

      @include mq(md) {
        width: 100%;
        max-width: 540px;
        justify-content: space-between;
        margin: 0 auto;
      }

      @include mq(xs) {
        max-width: 400px;
      }

      .form-group {

        input {
          font-family: $sb, sans-serif;
          font-size: 15px;
          line-height: 18px;
          color: $dark-blue;
          box-sizing: border-box;
          display: block;
          width: 100%;
          padding: 22px 19px 15px;
          background: $white;
          box-shadow: $shadow2;
          border-radius: 10px;
          border: none;

          &::placeholder {
            font-family: $sb, sans-serif;
            font-size: 15px;
            line-height: 18px;
            color: $dark-blue;
            opacity: 1;
          }

          &:active, &:focus, &:required {
            outline: none;
          }
        }

        button {
          padding: 16px 0 10px;
        }

        &.name, &.tel {
          width: 260px;

          @include mq(xs) {
            width: 100%;
          }
        }

        &.tel {
          margin: 0 20px;

          @include mq(md) {
            margin: 0;
          }

          @include mq(xs) {
            margin: 10px auto 20px;
          }
        }

        &.order {
          width: 280px;

          @include mq(md) {
            margin: 20px auto 0;
          }

          @include mq(xs) {
            width: 100%;
            margin: 0 auto;
          }
        }
      }

      h6 {
        text-align: right;
        margin-left: auto;

        @include mq(lg) {
          width: 100%;
          text-align: center;
          margin: 13px auto 0;
        }

        br {

          @include mq(lg) {
            display: none;
          }

          @include mq(xs) {
            display: block;
          }
        }
      }
    }

    &:before, &:after {
      content: "";
      display: block;
      background: $pale-red;
      box-shadow: $shadow1;
      border-radius: 5px;
      position: absolute;

      @include mq(md) {
        display: none;
      }
    }

    &:before {
      width: 124px;
      height: 124px;
      transform: rotate(-11.11deg);
      top: -38px;
      left: 523px;
    }

    &:after {
      width: 69px;
      height: 69px;
      transform: rotate(2.72deg);
      bottom: 55px;
      right: -34px;
    }
  }
}